<template>
  <div class="forms">
    <h1 class="app__page-title">
      {{ $t('forms.title') }}
    </h1>
    <router-link
      class="forms__link"
      :to="$routes.signup"
    >
      {{ $t('forms.sign-up') }}
    </router-link>
  </div>
</template>

<script>
export default {
  name: 'forms',
}
</script>

<style lang="scss" scoped>
.forms {
  display: flex;
  flex-direction: column;
  margin: 15rem auto;
}

.forms__link {
  text-align: center;

  &:not(:first-child) { margin-top: 2rem; }
}
</style>
