<template>
  <div class="sign-up app__page">
    <h1 class="app__page-title">
      {{ $t('sign-up.title') }}
    </h1>
    <sign-up-form />
  </div>
</template>

<script>
import SignUpForm from '@/vue/forms/SignUpForm'

export default {
  name: 'sign-up',

  components: { SignUpForm },
}
</script>
