<template>
  <form
    novalidate
    class="sign-up-form app__form"
    @submit.prevent="isFormValid()"
  >
    <div class="app__form-row">
      <div class="app__form-field">
        <input-field
          v-model="form.email.value"
          autocomplete="email"
          type="email"
          @blur="form.email.blur"
          :label="$t('sign-up-form.email')"
          :placeholder="$t('sign-up-form.email-placeholder')"
          :error-message="form.email.errorMessage"
          :disabled="isFormDisabled"
        />
      </div>
    </div>

    <div class="app__form-row">
      <div class="app__form-field">
        <input-field
          v-model="form.password.value"
          type="password"
          autocomplete="current-password"
          @blur="form.password.blur"
          :label="$t('sign-up-form.password')"
          :placeholder="$t('sign-up-form.password-placeholder')"
          :error-message="form.password.errorMessage"
          :disabled="isFormDisabled"
        />
      </div>
    </div>

    <div class="app__form-row">
      <div class="app__form-field">
        <input-field
          v-model="form.confirmPassword.value"
          type="password"
          autocomplete="current-password"
          @blur="form.confirmPassword.blur"
          :label="$t('sign-up-form.password')"
          :placeholder="$t('sign-up-form.password-placeholder')"
          :error-message="form.confirmPassword.errorMessage"
          :disabled="isFormDisabled"
        />
      </div>
    </div>

    <div class="app__form-actions">
      <app-button
        type="submit"
        :title="$t('sign-up-form.submit-btn')"
        :disabled="isFormDisabled"
      >
        {{ $t('sign-up-form.submit-btn') }}
      </app-button>
    </div>
  </form>
</template>

<script>
import InputField from '@/vue/fields/InputField'

import { useForm, useValidators } from '@/vue/composables'

export default {
  name: 'sign-up-form',

  components: { InputField },

  setup () {
    const { required, email } = useValidators()
    // minLength, maxLength
    const formController = useForm({
      email: {
        value: '',
        validators: {
          required,
          email,
          // minLength: minLength(FIELD_LENGTH.min.email),
          // maxLength: maxLength(FIELD_LENGTH.max.email),
        },
      },
      password: {
        value: '',
        validators: {
          required,
          // minLength: minLength(FIELD_LENGTH.min.password),
          // maxLength: maxLength(FIELD_LENGTH.max.password),
        },
      },
      confirmPassword: {
        value: '',
        validators: {
          required,
          // minLength: minLength(FIELD_LENGTH.min.password),
          // maxLength: maxLength(FIELD_LENGTH.max.password),
        },
      },
    })

    return { ...formController }
  },
}
</script>

<style lang="scss" scoped>
@import '~@/scss/app-form';

.sign-up-form {
  margin: 10rem auto ;
}
</style>
