.app__init {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 80%;
  max-width: 400px;
}

.app__init-logo {
  width: 100%;
  font-family: sans-serif;
  text-align: center;
  font-size: 50px;
}
