<template>
  <div class="app__container">
    <div class="app__main-wrapper">
      <div class="app__main">
        <div class="app__main-content">
          <router-view v-slot="{ Component }">
            <transition
              name="app-transition"
              mode="out-in"
            >
              <component :is="Component" />
            </transition>
          </router-view>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import config from '@/config'

export default {
  name: 'app',

  setup () { document.title = config.APP_NAME },
}
</script>

<style lang="scss" scoped>
@import '~@scss/variables';
@import '~@scss/mixins';

.app__container {
  display: flex;
  align-items: stretch;
  overflow: hidden;
  flex: 1;
}

.app__main-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.app__main {
  width: 100%;
  display: flex;
  align-items: stretch;
  overflow: hidden;
  flex: 1;
}

.app__main-content {
  overflow-y: auto;
  flex: 1;
  padding: 2.4rem;
  display: flex;
}

.app-transition-enter-active {
  animation: app-transition 0.15s ease-in-out;
}

.app-transition-leave-active {
  animation: app-transition 0.15s ease-in-out reverse;
}

@keyframes app-transition {
  0% {
    opacity: 0;
    transform: scale(0.75);
    filter: blur(1rem);
  }

  100% {
    opacity: 1;
    transform: scale(1);
    filter: blur(0);
  }
}
</style>
