.noscript {
	max-width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-sizing: content-box;
	color: #202124;
	padding: 0 1rem;
	text-align: center;
	font: 1rem "SourceSansPro", Helvetica, Arial, sans-serif;
}

.noscript__title {
	font-weight: normal;
	font-size: 3rem;
	margin-top: 3rem;
}

.noscript__message {
	margin-top: 0;
}

.noscript__enable-support {
	color: #ec0000;
}

.noscript__list {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
}

.noscript__list-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 2rem;
	width: 100%;
}

.noscript__link {
	border: 1px solid #dfe1e5;
	padding: 0.5rem;
	border-radius: 5%;
}

.noscript__link:hover {
	box-shadow: 0px 4px 8px 3px rgba(60,64,67,.15);
}

.noscript__browser-name {
	margin-top: 1rem;
}

@media all and (min-width: 576px) {
	.noscript__message {
		max-width: 700px;
	}

	.noscript__list-item {
		width: 34%;
	}
}

@media all and (min-width: 992px) {
	.noscript {
		margin-top: 7rem;
		padding: 0 5rem;
	}

	.noscript__list-item {
		width: unset;
		margin-right: 2rem;
		margin-bottom: 0;
	}

	.nosctipt__recomendations {
		margin-bottom: 0;
	}
}