@import '~@/scss/mixins.scss';

$margin-row-to-row: 5rem;
$margin-row-to-row-small: 4rem;
$field-to-field-gap: 2rem;

.app__form {
  min-width: 30rem;
}

.app__form-row {
  display: flex;
  width: 100%;
  margin-top: $margin-row-to-row;


  & > .app__form-field {
    flex: 1;
    min-width: 0;

    &--halved {
      flex: 0.5;
    }

    &--right { text-align: right; }

    &--placeholder { @include respond-to(large) { display: none; } }
  }

  & > .app__form-field + .app__form-field { margin-left: $field-to-field-gap; }

  @include respond-to(small) {
    flex-direction: column;

    & + & { margin-top: $margin-row-to-row-small; }

    & > .app__form-field + .app__form-field {
      flex: 1;
      margin-left: 0;
      margin-top: $margin-row-to-row-small;
    }
  }

  &--row-always { @include respond-to(small) { flex-direction: row; } }
}

.app__form-actions {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 1.6rem;
  grid-auto-columns: min-content;

  &:not(:first-child) { margin-top: 5rem; }

  &--right { justify-content: end; }
}
