@import 'variables';

:root {
  --app-font: "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif;
  --col-text: #000000;
  --col-app-bg: #ffffff;
}

.app__page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.app__page-title {
  font-size: 2.75rem;
  line-height: 125%;
  margin: 10rem 0 1.6rem;
  text-align: center;
}

.app__page-subtitle {
  font-size: 1.5rem;
  line-height: 160%;
  letter-spacing: 0.2rem;
  margin-bottom: 2.4rem;
}
