$_red: #ec0000;
$_silver: #c4c4c4;
$_silverChalice: #a5a5a5;
$_riverBed: #454f5b;
$_nevada: #656f7c;
$_gullGray: #a2aebb;
$_alto: #dcdcdc;
$_black: #000000;
$_codGray: #1d1d1d;
$_white: #ffffff;
$_alabaster: #f8f8f8;
$_alabasterLight: #fcfcfc;
$_lightRed: #ff4d00;
$_doveGray: #656565;
$_grayishRed: #c8c7c7;
$_mineShaft: #2d2d2d;
$_ghost: #c8ced4;
$_tundora: #404040;
$_apple: #67ad46;
$_orangePeel: #ffa333;
$_bonjour: #dddbdd;
$_deepCerulean: #007eb5;

/* https://material.io/guidelines/layout/responsive-ui.html#responsive-ui-breakpoints */
$x-large: 1920px;
$large: 1440px;
$x-medium: 1200px;

$media-desktop: 1130px;

$medium: 1024px;
$media-small-desktop: 960px;
$tablet: 820px;

$status-message-reposition-bp: 470px;

$sidebar-hide-bp: 768px;

$small: 600px;
$x-small: 480px;

// field variables
$col-field-text: $_riverBed;
$field-color-background: $_white;
$field-color-text: $col-field-text;
$field-color-text-disabled: var(--col-text-secondary);
$field-carret-color: $col-field-text;
$field-color-label: $col-field-text;
$field-color-unfocused: lighten($_silverChalice, 20%);
$field-color-hover: lighten($_silverChalice, 10%);
$field-color-focused: darken($_riverBed, 5%);
$field-color-disabled: lighten($_riverBed, 15%);
$field-color-error: $_lightRed;
$field-text-font-size: 1.4rem;
$field-text-line-height: 2rem;
$field-border-radius: 0.4rem;
$field-label-font-size: 1.2rem;
$field-label-line-height: 1;
$field-inner-button: $_gullGray;
$field-text-letter-spacing: 0.03rem;
$field-error-font-size: 1.2rem;
$field-error-line-height: 1.25;
$field-transition-duration: 0.2s;
$field-error-margin-top: 0.6rem;
$field-input-padding-bottom: 0.6rem;
$field-input-padding: 1rem;
$field-label-color: $_nevada;
$field-placeholer-color: $_mineShaft;
$field-placeholder-color: var(--col-text-secondary);

// status colors:
$col-warning: $_orangePeel;
$col-success: $_apple;
$col-error: $_lightRed;
$col-info: $_white;

// app
$col-app-bg: $_white;

// app button
$col-app-button-primary-text: $_white;
$col-app-button-primary-hover-text: $_black;
$col-app-button-primary-bg: $_black;
$col-app-button-primary-hover-bg: $_white;
$col-app-button-primary-active-bg: darken($_white, 2%);
$col-app-button-primary-border: $_black;
$col-app-button-primary-hover-shadow: $_black;
$col-app-button-primary-active-shadow: $_silver;
$col-app-button-primary-disabled-bg: lighten($col-app-button-primary-bg, 40%);

// error message
$col-error-msg: $col-error;
