<template>
  <a
    v-if="href"
    v-bind="$attrs"
    :aria-label="$attrs.title"
    class="app-button"
    :class="styleClassArray"
    :href="href"
    :disabled="isDisabled"
    @click="onClick"
    ref="appButtonRef"
  >
    <slot />
  </a>
  <button
    v-else
    v-bind="$attrs"
    :type="$attrs.type || 'button'"
    :aria-label="$attrs.title"
    class="app-button"
    :class="styleClassArray"
    :disabled="isDisabled"
    @click="onClick"
    ref="appButtonRef"
  >
    <slot />
  </button>
</template>

<script>
import isEmpty from 'lodash/isEmpty'

const SCHEMES = {
  primary: 'primary',
  flat: 'flat',
}

const EVENTS = {
  click: 'click',
}

export default {
  name: 'app-button',

  props: {
    href: { type: String, default: '' },
    scheme: { type: String, default: SCHEMES.primary },
    route: { type: Object, default: () => ({}) },
  },

  emits: Object.values(EVENTS),

  computed: {
    isDisabled () {
      return ['disabled', '', true].includes(this.$attrs.disabled)
    },

    isRouterLink () { return !isEmpty(this.route) },

    styleClassArray () {
      const classPrefix = 'app-button--'

      const isSchemeExist = Object.values(SCHEMES).includes(this.scheme)

      const classes = isSchemeExist
        ? [`${classPrefix}${this.scheme}`]
        : [`${classPrefix}${SCHEMES.primary}`]

      if (this.isDisabled) classes.push(`${classPrefix}disabled`)

      return classes
    },
  },

  methods: {
    redirectToRoute () { this.$router.push(this.route) },

    onClick (event) {
      this.$refs.appButtonRef.blur()
      if (this.isRouterLink) this.redirectToRoute()
      this.$emit(EVENTS.click, event)
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~@scss/variables';

@function hex-to-rgb($hex) { @return red($hex), green($hex), blue($hex); }

/* stylelint-disable declaration-colon-space-after */
.app-button {
  --app-button-padding-vertical: 0.8rem;
  --app-button-padding-horizontal: 1.6rem;

  --app-button-text: #{$col-app-button-primary-text};
  --app-button-hover-text: #{$col-app-button-primary-text};
  --app-button-disabled-text: #{$col-app-button-primary-text};

  --app-button-bg: #{$col-app-button-primary-bg};
  --app-button-hover-bg: #{$col-app-button-primary-hover-bg};
  --app-button-active-bg: #{$col-app-button-primary-active-bg};
  --app-button-disabled-bg: #{$col-app-button-primary-disabled-bg};

  --app-button-active-shadow-rgb:
    #{hex-to-rgb($col-app-button-primary-active-shadow)};
  --app-button-hover-shadow-rgb:
    #{hex-to-rgb($col-app-button-primary-hover-shadow)};

  --app-button-border: none;
  --app-button-hover-border: none;
  --app-button-border-color: transparent;
  --app-button-border-width: 0.1rem;
  --app-button-hover-border-color: transparent;
  --app-button-disabled-border-color: transparent;

  display: grid;
  grid-auto-columns: auto;
  grid-auto-flow: column;
  grid-gap: 1.5rem;
  align-items: center;
  justify-content: center;
  padding:
    var(--app-button-padding-vertical)
    var(--app-button-padding-horizontal);
  border-radius: 0.5rem;
  font-size: 1.5rem;
  line-height: 1.6;
  letter-spacing: 0.02rem;
  font-weight: 500;
  white-space: nowrap;
  min-height: 4.8rem;
  max-height: 4.8rem;
  transition: all 0.2s ease;
  transition-property:
    background-color,
    box-shadow,
    color,
    border-color;
  cursor: pointer;
  text-decoration: none;
  background-color: var(--app-button-bg);
  color: var(--app-button-text);
  border: var(--app-button-border);
  border-color: var(--app-button-border-color);

  &:disabled,
  &--disabled {
    cursor: not-allowed;
    background-color: var(--app-button-disabled-bg);
    border-color: var(--app-button-disabled-border-color);
    color: var(--app-button-disabled-text);
    opacity: 0.5;
  }

  &:not([disabled]):focus {
    box-shadow: 0 0.4rem 0.8rem rgba(var(--app-button-hover-shadow-rgb), 0.2);
  }

  &:not([disabled]):hover,
  &:not([disabled]):focus {
    background-color: var(--app-button-hover-bg);
    color: var(--app-button-hover-text);
    border-color: var(--app-button-hover-border-color);
  }

  &:not([disabled]):active {
    color: var(--app-button-hover-text);
    box-shadow: inset 0 0.3rem 0 rgba(var(--app-button-active-shadow-rgb), 1);
    background-color: var(--app-button-active-bg);
  }

  &--primary {
    --app-button-bg: #{$col-app-button-primary-bg};
    --app-button-hover-bg: #{$col-app-button-primary-hover-bg};
    --app-button-active-bg: #{$col-app-button-primary-active-bg};
    --app-button-text: #{$col-app-button-primary-text};
    --app-button-hover-text: #{$col-app-button-primary-hover-text};
    --app-button-disabled-text: #{$col-app-button-primary-text};
    --app-button-disabled-bg: #{$col-app-button-primary-disabled-bg};
    --app-button-border: 0.1rem solid;
    --app-button-border-color: #{$col-app-button-primary-border};
    --app-button-hover-border-color: #{$col-app-button-primary-border};
    --app-button-active-shadow-rgb:
      #{hex-to-rgb($col-app-button-primary-active-shadow)};
    --app-button-hover-shadow-rgb:
      #{hex-to-rgb($col-app-button-primary-hover-shadow)};
  }
}
/* stylelint-enable declaration-colon-space-after */
</style>
