<template>
  <div class="error-message">
    <div class="error-message__icon">
      <i class="mdi mdi-alert"/>
    </div>
    <div class="error-message__text">
      {{ message }}
    </div>
  </div>
</template>

<script>
export default {
  name: 'error-message',
  props: {
    message: {
      type: String,
      required: true,
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~@scss/variables';

.error-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: $col-error-msg;
}

.error-message__icon {
  font-size: 7rem;
}

.error-message__text {
  font-size: 2.5rem;
}
</style>
